html, body {
  width: 100%;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0;
}

.page-wrapper {
  width: 100%;
}

.page-content {
  width: 100%;
  margin: 10px;
}

.header {
  background-color: lavender;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;

  h3 {
    font-size: 14px;
  }

  .header-left {
    align-self: flex-start;
  }

  .header-right {
    align-self: flex-end;
  }
}

.book-list, .index-books {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-gap: 20px;
}

.book-card {
  width: 100%;
  .cover-img {
    width: 100%;
  }
}

.booklist-button {
  border-radius: 4px;
  //overflow: hidden;
  position: relative;
  display: inline-block;

  .button, .dropdown {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    padding: 1rem 1rem;
    background: #F08080;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;


    &:hover,
    &:focus {
      background: #E67878;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .dropdown {
    outline: 1px solid black;
    outline-offset: -2px;
  }

  &.active {
    .button, .dropdown {
      background: #FF7F50;
    }
  }

  .dropdown-options {
    display: none;

    .dropdown-option {
      display: inline-block;
      border: none;
      margin: 0;
      text-decoration: none;
      padding: 1rem 1rem;
      background: #F08080;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;

      &:hover,
      &:focus {
        background: #E67878;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }

  .dropdown.active + .dropdown-options{
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 0;
    .dropdown-option {
      width: 100%;
    }
  }
}
