html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0;
  font-family: 'Alegreya', serif;
}

div, a, button {
  font-family: 'Alegreya Sans', sans-serif;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f3f4f4;
}

.page-content {
  padding: 10px;

  @media (min-width: 820px) {
    max-width: 960px;
    margin: auto;
  }
}

$color-primary: #088E69;
$color-secondary: #D9890C;
$color-blue: #2B5E9B;
$color-blue-active: #0A3C78;
$color-orange: #D9560C;
$color-red: #CA0B31;
$light-grey: #73847F;

// Color Scheme
// http://paletton.com/#uid=1390u0kuhrdkcv6pdtHwFn2DGjh
.header {
  background-color: $color-primary;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;
    margin-left: 5px;
    a {
      margin-left: 5px;
      color: black;
      text-decoration: none;
      font-size: 16px;
    }

    .header-app-link {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  .header-right {
    margin-right: 5px;

    button {
      display: inline-block;
      border: none;
      border-radius: 2px;
      margin: 0;
      text-decoration: none;
      padding: 5px 10px;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
    }

    .logout-btn {
      background-color: $color-secondary;
    }
  }
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2px;
  margin: 0;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.book-lists {
  margin: -10px;
  width: calc(100% + 20px);

  .links {
    width: 100%;
    height: 50px;
    padding-left: 5px;
    background-color: $light-grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .link {
      padding: 5px;
      color: black;
      text-align: center;
      text-decoration: none;
    }
  }

  .wanted .wanted, .owned .owned, .finished .finished {
    text-decoration: underline;
  }

  .content {
    margin: 20px 10px;
  }
}

.book-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-gap: 20px;

  @media (min-width: 821px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.index-books {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-gap: 20px;

  @media (min-width: 821px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.book-card {
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 1px solid lightgray;

  .cover-image, .book-info {
    flex: 1;
    width: 100%;
  }

  .cover {
    width: 100%;
    height: 100%;
  }

  .book-info {
    padding: 10px;
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.amazon-button {
  display: inline-block;
  text-decoration: none;
  background-color: $color-red;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 4px;
}

.book {
  .cover-image {
    width: 100%;
    max-width: 320px;
    margin: auto;

    .cover {
      width: 100%;
    }
  }

  .book-details {
    margin-top: 10px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

  @media (min-width: 641px) {
    .book-content {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr min-content;
      grid-gap: 20px;
      .cover-image {
        grid-column: 1 / 1;
      }

      .book-details {
        grid-column: 2 / 2;
      }
    }
  }

  .reviews {
    .new-review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #review {
        width: 100%;
        border: $light-grey 1px solid;
        font-family: 'Alegreya', serif;
        font-size: 14px;
        resize: none;
      }

      .review-button {
        margin-top: 10px;
        background-color: $color-secondary;
        padding: 12px 16px;;
      }
    }
  }
}

.booklist-button {
  border-radius: 4px;
  //overflow: hidden;
  position: relative;
  display: inline-block;

  .button {
    min-width: 152px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
  }

  .button, .dropdown {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    padding: 12px 6px;
    background: $color-blue;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;


    &:hover,
    &:focus {
      background: mix(black, $color-blue, 10%);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .dropdown {
    outline: 1px solid black;
    outline-offset: -2px;
    padding: 12px 12px;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
  }

  &.active {
    .button, .dropdown {
      background: $color-blue-active;
    }
  }

  .dropdown-options {
    display: none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;

    .dropdown-option {
      display: inline-block;
      border: none;
      margin: 0;
      text-decoration: none;
      padding: 12px 6px;
      background: $color-blue;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;

      &:hover,
      &:focus {
        background: mix(black, $color-blue, 10%);
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
  .dropdown.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown.active + .dropdown-options{
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 0;
    .dropdown-option {
      width: 100%;
    }
  }
}
